.page-wrap-footer,
.page-wrap {
  min-width: 400px;
  max-width: 700px;
  padding: 0; }

footer {
  top: 990px; }

.work-examples,
.up-down-arrows,
.block {
  margin-left: 5%; }

.up-down-arrows {
  left: 45%;
  top: 950px;
  width: 40%; }

.down-arrow {
  top: 280px; }

.bubbles {
  top: -100px; }

.container-2 {
  left: 46%;
  top: 273px; }

.container-3 {
  top: 467px; }

.container-4 {
  left: 58.5%;
  top: 500px; }

.container-5 {
  left: 21.3%;
  top: 634px; }

.container-6 {
  left: 0%;
  top: 767px; }

.container-7 {
  left: 12.5%;
  top: 914px; }

.container-8 {
  left: 75%;
  top: 121px; }

.container-9 {
  left: 55%;
  top: 220px; }

.container-10 {
  left: 62%;
  top: 369px;
  z-index: 6; }

.container-7,
.container-11 {
  display: none; }

.circle-6 {
  background: #29221f url("../../images/smith.png") center center no-repeat; }

.bubble {
  padding-bottom: 93%; }

.circle-1 h2,
.circle-2 h2 {
  padding-top: 40%; }

.circle-1,
.circle-2 {
  padding-bottom: 41%; }

.circle-3 {
  padding-bottom: 36%; }

.circle-7,
.circle-4,
.circle-8 {
  padding-bottom: 91.5%; }

.mid-bubbles {
  height: 60%;
  top: -300px; }

a .bubble:hover {
  margin-top: -30px;
  box-shadow: 0 30px #fff; }
