
.page-wrap {
	min-width: 500px;
	max-width: 900px;
	padding: 0;
}

.work-examples,
.up-down-arrows,
.block {
	margin-left: 5%;
}

.up-down-arrows {
	left: 45%;
	top: 1248px;
	width: 50%;
}

.bubbles {
	top: -100px;
}

.container-3 {
	top: 544px;
}
.container-4 {
	top: 584px;
}

.container-5 {
	top: 759px
}

.container-6 {
	top: 941px;
}

.container-7 {
	left: 12.5%;
	top: 1204px;
}

.container-8 {
	left: 76%;
	top: 107px;
}

.container-9 {
	left: 58.3%;
}

.container-10 {
	left: 65%;
	top: 476px;
}

.container-11 {
	left: 59%;
	top: 690px;
}

.bubble {
	padding-bottom: 94.5%;
}
.circle-1, 
.circle-2,
.circle-3 {
	padding-bottom: 39%;
}

.circle-8, 
.circle-7, 
.circle-4 {
	padding-bottom: 93.5%;
}

.mid-bubbles {
	width: 90%;
}


