
/*Clearfix, Resets*/

.group:after {
  content: "";
  display: table;
  clear: both;
}

/* apply a natural box layout model to all elements */
* { -moz-box-sizing: border-box; 
	-webkit-box-sizing: border-box; 
	box-sizing: border-box; 
}

/*Fonts*/

body {
	font-family: 'Open Sans', sans-serif;
	position: relative;
}

a {
	color: #FC354C;
	text-decoration: none;
}

h1, h2 {
	text-transform: uppercase;
	text-shadow: inset 1px 1px 1px #ccc;
}

h1 {
	font-size: 50px;
	font-weight: 200;
	line-height: 60px;
	margin: 0;
	z-index: 400;
}

h2 {
	color: white;
	font-size: 30px;
}

.work-examples h2,
.info h2 {
	color: black;
	line-height: 35px;
	margin: 15px 0;
}

.bubble h2,
footer {
	text-align: center;
}

/*Sections*/

.page-wrap {
	margin: auto;
	max-width: 1000px;
	height: 1300px;
	padding: 20px;
	position: relative;
}

.page-wrap-footer {
	margin: auto;
	max-width: 1000px;
	height: 140px;
	position: relative;

}

.block {
	height: 150px;
	padding-top: 30px;
	margin: 0;
	width: 255px;
	z-index: 400;
}

.info {
	position: relative;
	height: 200px;
	width: 100%;
}

.work-examples {
	height: 500px;
	left: 5%;
	position: relative;
	top: 518px;
	width: 450px;
}

.bubbles {
	position: relative;
	top: -190px;
	height: 100%;
	width: 100%;
}

.mid-bubbles {
	margin-right: 0;
	position: relative;
	top: 0px;
	height: 85%;
	width: 90%;
}

/*Circles*/

.container {
  height: 500px;
  width: 40%;
  position: absolute;
}

.bubble {
  	border: 10px solid white;
  	   -moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	        border-radius: 50%;
	padding-bottom: 95%;
  	width: 100%;
  	-webkit-transition-property: margin;
  	   -moz-transition-property: margin;
  	     -o-transition-property: margin;
  	        transition-property: margin;
  	-webkit-transition-duration: .4s;
  	   -moz-transition-duration: .4s;
  	     -o-transition-duration: .4s;
  	        transition-duration: .4s;
  	-webkit-transition-timing-function: linear, ease-in-out;
  	   -moz-transition-timing-function: linear, ease-in-out;
  	     -o-transition-timing-function: linear, ease-in-out;
  	        transition-timing-function: linear, ease-in-out;
}

.circle-1,
.circle-2 {
	padding-bottom: 41%;
}

.circle-3 {
	padding-bottom: 42.5%;
}

.circle-8,
.circle-7,
.circle-4 {
	padding-bottom: 94%;
}

/*Circle backgrounds*/

.circle-9,
.circle-1 {
	background: #FC354C;
}

.circle-11,
.circle-6,
.circle-2 {
	background: #29221F;
}

.circle-8,
.circle-4 {
	background: #0ABFBC;
}

.circle-10,
.circle-5 {
	background: #FCF7C5;
}

.circle-3 {
	background: #13747D;
}

.circle-7 {
	background: #13747D url("../images/smith.png") center center no-repeat;
}

/*Circle text*/

.container h2 {
	margin: 0;
}

.bubble h2 {
	padding-top: 42%;
}

.circle-1 h2,
.circle-2 h2 {
	padding-top: 46%;
}

/*Circle containers*/

.container-1 {
	left: 23.3%;
	top: 130px;
	z-index: 1;
	-webkit-transition-property: z-index;
	   -moz-transition-property: z-index;
	     -o-transition-property: z-index;
	        transition-property: z-index;
	-webkit-transition-duration: .4s;
	   -moz-transition-duration: .4s;
	     -o-transition-duration: .4s;
	        transition-duration: .4s;
	-webkit-transition-timing-function: linear, ease-in-out;
	   -moz-transition-timing-function: linear, ease-in-out;
	     -o-transition-timing-function: linear, ease-in-out;
	        transition-timing-function: linear, ease-in-out;
}

.container-2 {
	left: 47%;
	top: 300px;
	z-index: 2;
	-webkit-transition-property: z-index;
	   -moz-transition-property: z-index;
	     -o-transition-property: z-index;
	        transition-property: z-index;
	-webkit-transition-duration: .4s;
	   -moz-transition-duration: .4s;
	     -o-transition-duration: .4s;
	        transition-duration: .4s;
	-webkit-transition-timing-function: linear, ease-in-out;
	   -moz-transition-timing-function: linear, ease-in-out;
	     -o-transition-timing-function: linear, ease-in-out;
	        transition-timing-function: linear, ease-in-out;
}

.container-3 {
	left: 33.5%;
	top: 550px;
	width: 34%;
	z-index: 5;
	-webkit-transition-property: z-index;
	   -moz-transition-property: z-index;
	     -o-transition-property: z-index;
	        transition-property: z-index;
	-webkit-transition-duration: .4s;
	   -moz-transition-duration: .4s;
	     -o-transition-duration: .4s;
	        transition-duration: .4s;
	-webkit-transition-timing-function: linear, ease-in-out;
	   -moz-transition-timing-function: linear, ease-in-out;
	     -o-transition-timing-function: linear, ease-in-out;
	        transition-timing-function: linear, ease-in-out;
}

.container-4 {
	left: 57.5%;
	top: 630px;
	width: 34%;
	z-index: 1;
}

.container-5 {
	left: 21.3%;
	top: 807px;
	z-index: 6;
}

.container-6 {
	left: -1%;
	top: 1050px;
	z-index: 6;
}

.container-7 {
	left: 23.5%;
	top: 1200px;
	width: 34%;
	z-index: 7;
}

.container-8 {
	left: 67.3%;
	top: 112px;
	width: 34%;
	z-index: 1;
}

.container-9 {
	left: 43.3%;
	top: 248px;
	z-index: 1;
}

.container-10 {
	left: 55%;
	top: 500px;
	z-index: 6;
}

.container-11 {
	left: 33%;
	top: 720px;
	z-index: 2;
}

/*Hovers*/


a:hover {
	color: #c8031a;
}

footer a:hover,
.info a:hover,
.work-examples a:hover {
	text-decoration: underline;
}

footer a:hover {
	color: #ccc;
	text-decoration: underline;
}

a .bubble:hover {
	margin-top: -30px;
	box-shadow: 0 50px #fff;
	z-index: 100;
}

a .bubble:hover {
	text-decoration: none;
}

.container-1:hover,
.container-2:hover,
.container-3:hover {
	z-index: 100;
}


/*Lists*/

ul {
	padding-left: 0;
}

li {
	list-style: none;
}

.info ul {
	float: left;
	margin-right: 30px;
	margin-top: 0;
}

.info li {
	margin-bottom: 5px;
}

/*Table*/

th {
	padding-bottom: 15px;
	text-align: left;
}

td {
	padding-bottom: 10px;
	padding-right: 30px;
	height: 40px;
	vertical-align: top;
}

.client {
	width: 140px;
}

.role {
	width: 380px;
}

/*Arrows*/


.up-down-arrows {
	height: 400px;
	position: absolute;
	top: 1260px;
	left: 60%;
	width: 40%;
}

.arrow{
	display: block;
	font: 0/0 a;
	height: 15px;
	left: 188px;
	position: absolute;
	width: 24px;
}

.down-arrow {
	background: url("../images/down-arrow.png") center center no-repeat;
	top: 247px;
	z-index: 100;
}

.up-arrow {
	background: url("../images/up-arrow.png") center center no-repeat;
	top: -42px;
}

.work-examples .up-arrow {
	top: -60px;
	left: 155px;
}

.soon {
	font-size: 150%;
}

/*Footer*/

footer {
	background: #13747D;
	height: 140px;
	position: relative;
	top: 1345px;
	width: 100%;
}

footer li {
	color: white;
	float: left;
	line-height: 80px;
	margin-right: 25%;
}


footer ul {
	margin: auto;
	width: 300px;
}

.copy {
	color: white;
	display: block;
	margin: auto;
	width: 100%;
}

footer a {
	color: white;
}


.end {
	margin-right: 0;
}


/*@media screen and (min-width: 610px) {

	a .bubble:hover {
		margin-top: -30px;
		box-shadow: 0 50px #fff;
		z-index: 100;
	}

	a .bubble:hover {
		text-decoration: none;
	}

	.container-1:hover,
	.container-2:hover,
	.container-3:hover {
		z-index: 100;
	}

}*/






