
/*Clearfix*/

.group:after {
  content: "";
  display: table;
  clear: both;
}

/* apply a natural box layout model to all elements */
* { -moz-box-sizing: border-box; 
	-webkit-box-sizing: border-box; 
	box-sizing: border-box; 
}

body {
	font-family: 'Open Sans', sans-serif;
	height: 2700px;
	position: relative;
}

.page-wrap {
	margin: auto;
	width: 1000px;
}

a {
	color: #FC354C;
	text-decoration: none;
}

a:hover {
	color: #c8031a;
	text-decoration: underline;
}

a.bubble:hover {
	text-decoration: none;
}

h1, h2 {
	text-transform: uppercase;
	text-shadow: inset 1px 1px 1px #ccc;
}

h1 {
	font-size: 50px;
	font-weight: 200;
	line-height: 60px;
	margin: 0;
	z-index: 400;
}

h2 {
	color: white;
	font-size: 30px;
}

.work-examples h2,
.info h2 {
	color: black;
	line-height: 35px;
	margin: 15px 0;
}


.info,
.block {
	height: 150px;
	padding-top: 30px;
	margin: 0;
	width: 399px;
	z-index: 100;
}

.info {
	position: relative;
	left: 638px;
	top: -110px;
}

.work-examples {
	left: -176px;
	position: relative;
	top: 500px;
}

.bubbles {
	position: relative;
	top: -130px;
	height: 1200px;
}


.mid-bubbles {
	position: absolute;
	top: 0;
}

.bubble {
	border: 10px solid white;
	position: absolute;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
	text-align: center;
	-webkit-transition-property: margin, z-index, box-shadow;
	   -moz-transition-property: margin, z-index, box-shadow;
	     -o-transition-property: margin, z-index, box-shadow;
	        transition-property: margin, z-index, box-shadow;
	-webkit-transition-duration: .4s;
	   -moz-transition-duration: .4s;
	     -o-transition-duration: .4s;
	        transition-duration: .4s;
	-webkit-transition-timing-function: linear, ease-in-out;
	   -moz-transition-timing-function: linear, ease-in-out;
	     -o-transition-timing-function: linear, ease-in-out;
	        transition-timing-function: linear, ease-in-out;
}



.about-bubble {
	background: #FC354C;
	height: 400px;
	left: 233px;
	line-height: 325px;
	top: 135px;
	width: 400px;
	z-index: 1;
}

.contact-bubble {
	background: #13747D;
	left: 335px;
	height: 340px;
	line-height: 265px;
	top: 570px;
	width: 340px;
	z-index: 5;
}

.work-bubble {
	background: #29221F;
	left: 470px;
	height: 400px;
	line-height: 330px;
	top: 320px;
	width: 400px;
	z-index: 4;
}

.empty-bubble1 {
	background: #0ABFBC;
	left: 575px;
	height: 340px;
	line-height: 300px;
	top: 640px;
	width: 340px;
	z-index: 1;
}

.empty-bubble2 {
	background: #FCF7C5;
	left: 213px;
	height: 400px;
	top: 827px;
	width: 400px;
	z-index: 6;
}

.empty-bubble3 {
	background: #29221F;
	left: -10px;
	height: 400px;
	line-height: 330px;
	top: 1060px;
	width: 400px;
	z-index: 6;
}

.empty-bubble4 {
	background: #13747D url("../images/smith.png") center center no-repeat;;
	left: 235px;
	height: 340px;
	line-height: 265px;
	top: 1200px;
	width: 340px;
	z-index: 7;
}

.empty-bubble5 {
	background: #0ABFBC;
	left: 668px;
	height: 340px;
	line-height: 300px;
	top: 1600px;
	width: 340px;
	z-index: 1;
}

.empty-bubble6 {
	background: #FC354C;
	height: 400px;
	left: 433px;
	line-height: 325px;
	top: 1735px;
	width: 400px;
	z-index: 1;
}

.empty-bubble7 {
	background: #FCF7C5;
	left: 550px;
	height: 400px;
	top: 2000px;
	width: 400px;
	z-index: 6;
}

.empty-bubble8 {
	background: #29221F;
	left: 330px;
	height: 400px;
	line-height: 330px;
	top: 2220px;
	width: 400px;
	z-index: 2;
}


/*Hovers*/

.bubbles a:hover {
	margin-top: -50px;
	box-shadow: 0 50px #fff;
	z-index: 30;
}

a.down-arrow:hover {
	top: 520;
}

/*Lists*/

ul {
	padding-left: 0;
}

li {
	list-style: none;
}

.info ul {
	float: left;
	margin-right: 30px;
	margin-top: 0;
}

.info li {
	margin-bottom: 5px;
}

/*Table*/

th {
	text-align: left;
}

td {
	padding-right: 30px;
	height: 40px;
}

.client {
	width: 140px;
}

.role {
	width: 380px;
}

.arrow{
	display: block;
	font: 0/0 a;
	height: 15px;
	margin-left: -12px;
	position: absolute;
	left: 50%;
	width: 24px;
}

.down-arrow {
	background: url("../images/down-arrow.png") center center no-repeat;
	top: 280px;
}

.up-arrow {
	background: url("../images/up-arrow.png") center center no-repeat;
	top: -12px;
}

.work-examples .up-arrow {
	left: 300px;
	top: -60px;
}

.work-examples .down-arrow {
	left: 130px;
}

footer {
	background: #13747D;
	height: 140px;
	position: relative;
	top: 900px;
	width: 100%;
}

footer li {
	color: white;
	float: left;
	line-height: 100px;
	margin-right: 80px;
}

footer ul {
	margin: auto;
	text-align: center;
	width: 558px;
}

.copy {
	margin-right: 0;
}

footer a {
	color: white;
}

footer a:hover {
	color: #ccc;
}












